<%- include('layout'); -%>
<%- include('partials/header'); -%>

<main>
  <div class="sidebar">
    <h2>Categorias</h2>
    <ul>
      <li><a href="#">Perfumes</a></li>
      <li><a href="#">Maquiagens</a></li>
      <li><a href="#">Cabelos</a></li>
      <li><a href="#">Pele</a></li>
      <li><a href="#">Cuidados</a></li>
    </ul>
  </div>

  <div class="catalogo">
    <section id="perfumes">
      <h2>Perfumes</h2>
      <ul class="lista-perfumes">
        <% produtos.forEach(function (produto){%>
        <li>
          <img src="<%= produto.imagem %>" alt="Perfume">
          <p>R$ <%= produto.preco %>,00</p>
        </li>
        <%});%>
      </ul>
    </section>
  </div>
</main>

<%- include('partials/footer'); -%>
</body>

</html>